<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenido a <%= title %></h1>
    <p>El Portal donde podras crear tu propio juego</p>
    <p><a href="/quizes/question">Comience a Jugar</a></p>
    <p>Creado Por Alejandro Garcia</p>
  </body>
</html>
